name: default_ip_remediation
filters:
 - Alert.Remediation == true && Alert.GetScope() == "Ip"
notifications:
 - file_default # Nombre que CrowdSec da por defecto al plugin 'file'
decisions:
 - type: ban
   duration: 4h
on_success: break