version: '3.9'

services:
  weavescope:
    image: weaveworks/scope:{{ scope_version | default('latest') }}
    container_name: weavescope
    pid: "host" 
    privileged: true
    restart: always
    networks:
      - network_all
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    command:
      - "--probe.docker=true"
      - "--weave=false"
      # Importante: Weave Scope suele escuchar en el 4040 por defecto
    labels:
      traefik.enable: "true"
      traefik.http.routers.weavescope.rule: "Host(`{{ ansible_dns }}`)"
      traefik.http.routers.weavescope.entrypoints: "web"
      traefik.http.services.weavescope.loadbalancer.server.port: "4040"
      traefik.http.routers.weavescope.service: "weavescope"
      
networks:
  network_all:
    external: true