version: '3.9'

services:
  weavescope:
    image: weaveworks/scope:{{ scope_version | default('latest') }}
    container_name: weavescope
    network_mode: "host" 
    pid: "host" 
    privileged: true
    restart: always
    ports:
      - "8080:4040"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    command:
      - "--probe.docker=true"
      - "--weave=false"
      - "--app.http.address=:9090"

networks:
  network_all:
    external: true



      
    