
HOST1_DNS=your-hosts-dns-from-tailscale.tailabcdef.ts.net
HOST1_USR=a-user
HOST1_PWD=a-passwd


HOST2_DNS=another-tailscale-dns
HOST2_USR=another-user
HOST2_PWD=another-passwd


TS_KEY=a-tailscale-token-auth