version: '3.8'
services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/opt/traefik:/etc/traefik"
    command:
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--experimental.plugins.coraza.modulename=github.com/corazawaf/traefik-proxy-wasm"
      - "--experimental.plugins.coraza.version=v0.2.0"
    networks:
      - apps_network

  crowdsec:
    image: crowdsecurity/crowdsec
    container_name: crowdsec
    restart: always
    environment:
      - COLLECTIONS=crowdsecurity/linux crowdsecurity/traefik
    volumes:
      - /opt/soanar/edge/crowdsec/config:/etc/crowdsec
      - /opt/soanar/edge/crowdsec/data:/var/lib/crowdsec/data  # <--- ESTE ES EL QUE FALTA
      - /var/log/traefik:/var/log/traefik:ro
    networks:
      - apps_network

networks:
  apps_network:
    external: true