services:
  traefik:
    image: traefik:v2.11 # Evita el error del "Client version 1.24 is too old. Minimum supported version.. [...]"
    container_name: traefik
    restart: always
    dns:
      - 100.100.100.100 # IP de Tailscale, para poder entrar con DNS de Tailscale
      - 8.8.8.8
      - 1.1.1.1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/opt/traefik:/etc/traefik"
      - "/opt/traefik/config:/etc/traefik/config"
    environment:
      - DOCKER_API_VERSION=1.54
      - TRAEFIK_PROVIDERS_DOCKER_ENDPOINT=unix:///var/run/docker.sock
    command:
      - "--api.dashboard=true"              # Activamos el dashboard
      - "--api.insecure=false"              # <--- CAMBIO: No lo abras en el 8080, úsalo por el puerto 80
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.directory=/etc/traefik/config"
      - "--providers.file.watch=true"
      - "--entrypoints.web.address=:80"
      - "--experimental.plugins.bouncer.modulename=github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      - "--experimental.plugins.bouncer.version=v1.3.3"
      
    ports:
      - "{{ ansible_host }}:80:80"
      - "{{ ansible_host }}:443:443"

    networks:
      - network_all

networks:
  network_all:
    driver: bridge
    external: true