# /templates/dynamic_conf.yml.j2
http:
  serversTransports:
    insecureTransport:
      insecureSkipVerify: true

  middlewares:
    whitelist-segura:
      ipAllowList:
        sourceRange:
          - "127.0.0.1/32"
          - "100.64.0.0/10" # Rango genérico de Tailscale
          - "{{ mi_ip_especifica | default('127.0.0.1/32') }}"

    bouncer-crowdsec:
      plugin:
        bouncer:
          enabled: true
          crowdsecLapiHost: "crowdsec:8080"
          crowdsecLapiKey: "{{ crowdsec_api_key }}"
    # 2. Limitador de velocidad para evitar ataques de fuerza bruta
    rate-limiter:
      rateLimit:
        average: 100
        period: 1m
        burst: 50

    # 3. Limitador de conexiones concurrentes
    concurrent-limiter:
      inFlightReq:
        amount: 10
        sourceCriterion:
          ipStrategy:
            depth: 1

    # 4. Cabeceras de Seguridad (Protección contra XSS, Clickjacking, etc.)
    security-headers:
      headers:
        customResponseHeaders:
          X-Robots-Tag: "noindex, nofollow"
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        customFrameOptionsValue: "DENY"

    # 5. La "Cadena" (Chain): Agrupa varios middlewares en uno solo
    external-secured:
      chain:
        middlewares:
          - rate-limiter
          - concurrent-limiter
          - security-headers

  routers:
    weavescope:
      rule: "Host(`weavescope.soc`)"
      service: weavescope-svc
      entryPoints: ["web"]
      middlewares: ["bouncer-crowdsec"]

    traefik-dashboard:
      rule: "Host(`traefik.soc`)"
      service: api@internal
      entryPoints: ["web"]
      middlewares: ["bouncer-crowdsec"]

    adguard:
      rule: "Host(`adguard.soc`)"
      service: adguard-svc
      entryPoints: ["web"]
      middlewares: ["bouncer-crowdsec"]

    juice-shop:
      rule: "Host(`juice.soc`)"
      service: juice-shop-svc
      entryPoints: ["web"]
      middlewares: ["bouncer-crowdsec", "rate-limiter"] 

    misp:
      rule: "Host(`misp.soc`)"
      service: misp-svc
      entryPoints: ["web"]
      middlewares: ["bouncer-crowdsec"]

    portainer:
      rule: "Host(`portainer.soc`)"
      service: portainer-svc
      entryPoints: ["web"]
      middlewares: ["bouncer-crowdsec"]

    n8n:
      rule: "Host(`n8n.soc`)"
      service: n8n-svc
      entryPoints: ["web"]
      middlewares: ["bouncer-crowdsec"]

    # wazuh:
    #   rule: "Host(`wazuh.soc`)"
    #   service: wazuh-svc
    #   entryPoints: ["web"]
      # middlewares: ["bouncer-crowdsec"]

  services:
    weavescope-svc:
      loadBalancer:
        servers:
          - url: "http://weavescope:4040"

    adguard-svc:
      loadBalancer:
        servers:
          - url: "http://adguardhome:3000" # Nombre del contenedor:puerto interno

    juice-shop-svc:
      loadBalancer:
        servers:
          - url: "http://juice-shop:3000" 

    misp-svc:
      loadBalancer:
        servers:
          - url: "http://misp-misp-core-1:8448"

    portainer-svc:
      loadBalancer:
        serversTransport: insecureTransport
        servers:
          - url: "http://portainer:9000"
    
    n8n-svc:
      loadBalancer:
        servers:
          - url: "http://n8n:5678"

    # wazuh-svc:
    #   loadBalancer:
    #     serversTransport: insecureTransport
    #     servers:
    #       - url: "https://wazuh-dashboard:5601"